<html>
    <head>
        <title>Test Blog</title>
        <link rel="stylesheet" type="text/css" href="layoutStyle.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="flex-container">
            <div class="l-block l-title">
                <h1>Title Here</h1>
                <h3>Blah - Blah - Blah</h3>
            </div>
            <div class="l-block l-nav">
                <div class="l-nav-block l-nav-spacer"></div>
                <div class="l-nav-block">About Me</div>
                <div class="l-nav-block l-nav-spacer"></div>
                <div class="l-nav-block">History</div>
                <div class="l-nav-block l-nav-spacer"></div>
            </div>
            <div class="l-block l-main">
                <div class="l-post-block l-post-title">
                    <h2>Title of post</h1>
                </div>
                <div class="l-post-block l-post-date">
                    <p>14 August 2016</p>
                </div>
                <div class="l-post-block l-post-blurb">
                    <p>Small summary blurb about the post goes here.</p>
                    <p>The blurb is potentially multiple lines, and might run
                    on and on and on.  Ideally it is short, of course...</p>
                </div>
                <hr />
                <div class="l-post-block l-post-main">
                    <p>Post text goes here.</p>
                    <p>Second paragraph.</p>
                    <p>And then a lot of paragraph.  Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Nam ultrices magna
                    justo, nec mattis ipsum fringilla vel. In hac habitasse
                    platea dictumst. Nullam fermentum vestibulum sem, nec
                    vehicula odio ultricies id. Ut vitae diam vestibulum,
                    congue nisl luctus, laoreet mi. Sed mattis purus lobortis
                    imperdiet mollis. Nunc tristique sed felis eu fermentum. In
                    eget fermentum felis. Praesent at feugiat risus. Quisque et
                    mauris at sapien imperdiet euismod. Fusce venenatis quam
                    enim, dignissim venenatis nulla volutpat vitae. Cras non
                    sem urna. Aenean lectus ex, iaculis ac felis et, pretium
                    venenatis quam. Suspendisse aliquet convallis aliquam.
                    Suspendisse potenti.</p>
                    <p>And then a lot of paragraph.  Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Nam ultrices magna
                    justo, nec mattis ipsum fringilla vel. In hac habitasse
                    platea dictumst. Nullam fermentum vestibulum sem, nec
                    vehicula odio ultricies id. Ut vitae diam vestibulum,
                    congue nisl luctus, laoreet mi. Sed mattis purus lobortis
                    imperdiet mollis. Nunc tristique sed felis eu fermentum. In
                    eget fermentum felis. Praesent at feugiat risus. Quisque et
                    mauris at sapien imperdiet euismod. Fusce venenatis quam
                    enim, dignissim venenatis nulla volutpat vitae. Cras non
                    sem urna. Aenean lectus ex, iaculis ac felis et, pretium
                    venenatis quam. Suspendisse aliquet convallis aliquam.
                    Suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </body>
</html>
