<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/ditalini.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>

<body>
  <nav class="mainNav fullWidth">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{ end }}
      <li>
        <a href="{{ "" | absURL }}/tags/">Tags</a>
      </li>
    </ul>
  </nav>

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  <footer class="fullWidth h-card">
    <img class="u-photo" src="/profilePic.jpeg" />
    <span>
      <p class="p-note">{{ .Site.Params.bio }}</p>
      <p>&copy; {{ now.Year }} <a class="p-name u-url u-uid" href="{{ "" | absURL }}">{{ .Site.Params.author }}</a> <a
          class="u-url" rel="me" href="https://github.com/mleone10"><i class="fa fa-github"></i></a></p>
    </span>
  </footer>
</body>

</html>
