<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/ditalini.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>

<body>
  <nav class="fullWidth">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{ end }}
      <li>
        <a href="{{ "" | absURL }}/tags/">Tags</a>
      </li>
    </ul>
  </nav>

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  <footer class="fullWidth">
    <span>&copy; {{ now.Year }} <a href="{{ "" | absURL }}">Mario Leone</a></span>
  </footer>
</body>

</html>
