{{ define "main" }}
<article class="single">
  <header>
    <h2>{{ .Title }}</h2>
    <span class="byline">
      {{ if or .Params.author .Site.Params.author }}
      {{ .Params.author | default .Site.Params.author }}
      {{ end }}
      {{ if .Params.Date }}
      &middot;&nbsp;{{ .Date.Format "January 2, 2006" -}}
      {{ end }}
      {{ if .Params.tags }}
      &middot;
      {{ range $i, $tag := .GetTerms "tags" }}
      {{- if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{- end }}
      {{ end }}
    </span>
  </header>
  {{ block "tableOfContents" . }}{{ end }}
  {{ .Content }}
</article>
{{ end }}
