{{ define "postList" }}
{{ $paginator := .Paginate .Site.RegularPages }}
<ul class="postList">
  {{ range $index, $post := $paginator.Pages }}
  <li>
    {{/* Prepend a horizontal line if not the first item */}}
    {{ if $index }}
    <hr />
    {{ end }}

    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <time class="byline">{{ .Date.Format "02 Jan 06" }}</time>
    <p>{{ .Summary | plainify | htmlUnescape }}</p>
  </li>
  {{ end }}
  <nav>
    {{ if $paginator.HasNext }}<a href={{$paginator.Next.URL}} class="next">&larr; Older Posts</a>{{ end }}
    {{ if $paginator.HasPrev }}<a href={{$paginator.Prev.URL}} class="prev">Newer Posts &rarr;</a>{{ end }}
  </nav>
</ul>
{{ end }}
