{{ define "postList" }}
<ul class="postList">
  {{ range $index, $post := .Paginator.Pages }}
  <li>
    {{ if eq .Type "notes" }}
    {{ .Content }}
    {{ else }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ end }}
    <time class="byline">{{ .Date.Format "02 Jan 06" }}</time>
  </li>
  {{ end }}
  <nav>
    {{ if .Paginator.HasNext }}<a href={{ .Paginator.Next.URL }} class="next">&larr; Older Posts</a>{{ end }}
    {{ if .Paginator.HasPrev }}<a href={{ .Paginator.Prev.URL }} class="prev">Newer Posts &rarr;</a>{{ end }}
  </nav>
</ul>
{{ end }}
