html {
  --clr-background: #FFF8EB;
  --clr-text: #171B0E;
  --clr-accent-1-dark: #1b1f14;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--clr-background);
}

.fullWidth {
  max-width: 100%;
}

nav>h1 {
  text-align: center;
  font-size: 2rem;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  padding: 0;
  list-style: none;
}

main {
  flex-grow: 1;
  margin-inline: 1rem;
}

footer {
  justify-self: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  background-color: var(--clr-accent-1-dark);
  color: var(--clr-background);
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: var(--clr-background);
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article header h2 {
  margin-bottom: 0.5rem;
}

.byline {
  opacity: 0.75
}
