main.single header {
  margin-bottom: 3rem;
}

main ul {
  padding: 0rem;
  padding-left: 0.7rem;
  /* list-style: none; */
}

main ul.posts {
  list-style: none;
}

main ul.posts li:last-child {
  padding-bottom: 3rem;
}

main ul.posts p {
  margin-top: 0;
}

main ul.posts hr {
  width: 70%
}

main h3 {
  margin-bottom: 0;
}

main time {
  font-size: 0.8rem;
}

main {
  line-height: 1.7rem;
}
