article.single code {
  background-color: #80808080;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

article.single blockquote {
  border-left: 3px solid #80808080;
  margin: 0 0 0 1rem;
  padding-left: 1rem;
}
